table{
  width: 1000px;
  margin:100px auto;
  border:1px solid #b2b2b2;
  box-shadow:2px 2px 3px #b2b2b2;
  border-collapse: collapse;
  text-align: left;
}
table thead th{
  height: 60px;
  color:#595959;
  font-weight: 400;
  background-color: #e5e4e4;
}
table thead button{
  float: right;
  width: 100px;
  height: 30px;
  margin-right: 80px;
  font-size: 16px;
  border:1px solid #c26206;
  background-color: #f07600;
  color:white;
}
table tfoot tr{
  height: 80px;
  background-color: white;
}
table tfoot button,
table tbody button{
  width: 70px;
  height: 25px;
  font-size: 14px;
  background-color: white;
  border: 1px solid #585858;
  border-radius:2px;
  color:#585858;
}
table tbody tr{
  background-color: white;
  height: 60px;
  border-bottom: 1px solid rgb(202, 202, 202);
}
table tbody tr:hover{
  background-color: #fcf0e5;
}
table tbody td.loading{
  color:#55e344;
}
table input{
   margin-left: 20px;
}

