/*新建问卷*/
#new_list{
  display: none;
  height: 320px;
}
#new_list button{
  display: block;
  width: 200px;
  height: 45px;
  margin:137px auto;
  font-size: 22px;
  font-weight:600;
  border:1px solid #c26206;
  background-color: #f07600;
  color:white;
}
nav li:last-child{
  flex:2;
}
.newBtn{
  width: 100px;
  height: 30px;
  margin-top: 10px;
  font-size: 16px;
  border:1px solid #fff;
  background-color: #fff;
  color:#f07600;
  outline: none;
}
.newBtn:hover{
  border-color: #f07600;
}
/*问卷列表*/
table{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
thead th{
  height: 60px;
  color:#595959;
  font-weight: 400;
  background-color: #e5e4e4;
}
tbody tr{
  background-color: white;
  height: 60px;
  border-bottom: 1px solid rgb(202, 202, 202);
}
tbody tr:hover{
  background-color: #fcf0e5;
}
tfoot tr{
  height: 80px;
  background-color: white;
}
table button{
  width: 70px;
  height: 25px;
  margin-left: 10px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
}
td.loading{
  color:#55e344;
}
input[type='checkbox']{
   margin-left: 15px;
}
.tdAll{
  text-align: left;
}
.tdAll button{
  margin-left: 50px;
  border: 1px solid #ee7419;
  color:#ee7419;
  border-radius: 12px;
}
#cover{
        display: none;
        width: 100%;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        opacity: 0.3;
        background-color: black;
      }
      #deleteCover{
        display: none;
        width:25%;
        min-width: 220px;
        height: 180px;
        position:fixed;
        left:50%; top:50%;
        transform: translate(-50%, -50%);
        border:1px solid #fff;
        border-radius: 10px;
        background-color: white;
      }
      #title{
        background-color: #f7f7f7;
        border-radius: 10px 10px 0 0;
        color:#ee7419;
        margin:0;
        padding:10px 10px 10px 20px;
      }
       #close{
        float: right;
        font-size: 24px;
        line-height: 20px;
        cursor: pointer;
      }
      .content{
        height: 50px;
        padding:20px;
      }
      #yes,#no{
        float: right;
        margin:10px 10px 0 0;
        width:80px;
        height:25px;
        font-size: 18px;
      }
      #yes{
        background-color: #ee7419;
        color:#fff;
        border: none;
      }
      #no{
        background-color: #fff;
        border:1px solid black;
      }
