*{
  padding:0;
  margin:0;
}
body{
  font-family: '微软雅黑';
  min-width: 1200px;
}
a{
  text-decoration: none;
  color: #83868d;
}
nav{
  width: 1200px;
  height: 70px;
  margin: 0 auto;
}
nav img{
  display: block;
  float:left;
  width:104px;
  height:31px;
  margin: 20px 0 19px 50px;
}
nav ul{
  width:600px;
  float: right;
}
nav ul li{
  float:left;
  width:70px;
  height: 67px;
  line-height: 67px;
  margin-right: 30px;
  list-style: none;
  text-align: center;
}
nav ul li:hover,.selected{
  border-bottom:3px solid #e74f4d;
}
nav ul li:hover a,.red a{
  color:#e74f4d;
}
.login a:before{
  content: url(img/login.jpg);
  margin-right: 8px;
  vertical-align: middle;
}
.section1{
  height: 974px;
  clear: both;
}
.section1 .bg{
  width:100%;
  height: 710px;
  float: left;
  margin: 0 auto;
}
.section1 .information{
  position: absolute;
  top:260px;
  left: 12%;
  height: 0;
  color:white;
}
.section1 h1{
  font-size: 60px;
  font-weight: 300;
}
.section1 .chinese{
  margin-top:20px;
  font-size: 20px;
  line-height: 30px;
}
.section1 .start{
  margin-top:60px;
  width:300px;
  height: 60px;
  font-size: 28px;
  color: white;
  background-color: #e74f4d;
  border-style: none;
}
.section1 .about{
  height: 254px;
  width: 100%;
  clear: both;
}
.about1,.about2,.about3,.about4{
  float: left;
  width:25%;
}
.aboutimg{
  display: block;
  width: 41px;
  height: 40px;
  margin: 50px auto 40px;
}
.about1 p,.about2 p,.about3 p,.about4 p{
  display: block;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  color:#83868d;
}
.about1 p,.about2 p,.about3 p{
  border-right: 2px solid #83868d;
}
.section2{
  width:100%;
  height:1305px;
  background-color: #edecec;
}
.section21 img{
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto 40px;
  padding-top:90px;
}
.section21 h1{
  color:#a1a1a1;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
}
.section22{
  width: 100%;
  height: 341px;
  margin-top:80px;
  color:white;
  text-align: center;
}
.section22Img{
  width: 100%;
  height: 341px;
}
.content22{
  position: relative;
  top:-341px;
  width: 1200px;
  margin: 0 auto;
  height: 285px;
}
.content22 h3{
  font-size: 22px;
  font-weight: 200;
  margin-top:50px;
}
.content22 .underline{
  font-weight: 700;
}
.content22 p{
  font-size: 14px;
  font-weight: 200;
  margin-top: 15px;
}
.form1 select,.form1 button{
  margin: 50px 20px 0 0;
  width: 236px;
  height: 36px;
}
.form1 .search{
  background-color: #be4f48;
  border-style: none;
  color:white;
  font-size: 18px;
}
.form1 select{
  border: 1px solid  #fff;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background:url('img/down.jpg') no-repeat scroll right center transparent;
   padding-right: 14px;
}
.form1 select::-ms-expand{
  display: none;
}

.form1 option{
  background-color:#e3e3e4;
  font-size: 14px;
  height:27px;
  color:#5f6061;
}
.form1 option:checked{
  background-color: #be4e48;
}
.section23{
  width: 100%;
  height: 600px;
  background-color: #f7f7f7;
}
.section23 .content23{
  width: 1200px;
  height: 500px;
  margin:0 auto;
  padding-top:100px;
}
.section23 .content23 .box{
  width: 300px;
  float: left;
  text-align: center;
}
.box img{
  display: block;
  width: 220px;
  margin:0 39px;
  border: 1px solid #dadada;
}
.box h4{
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
}
.box p{
  font-size: 10px;
  line-height: 24px;
  color: #9f9f9f;
}
.box .big{
  font-size: 22px;
}


.section3 .top{
  width: 100%;
}
.section3 .top img{
  width: 67%;
  float: left;
}
.section3 .topCont{
  float: right;
  width:33%;
  margin-top: 180px;
}
.section3 .top h3{
  font-size: 22px;
  font-weight: 500;
  text-align:center;
}
.section3 .top .red{
  color: #ec706f;
}
.section3 .topCont p{
  width: 300px;
  margin: 20px auto;
  font-size: 12px;
  line-height: 30px;
  color: #b0b0b0;
}
.section3 .top .btn1{
  width: 110px;
  height: 35px;
  margin: 30px 38%;
  border: 1px solid #e46669;
  background-color: white;
  font-size: 14px;
  color: #e46669;
}
.section3 .top .change{
  width: 80px;
  height: 12px;
  margin: 0 41%;
}

.section3 .bottom{
  width: 100%;
  min-height: 500px;
  clear: both;
}
.bottom1{
  position: relative;
  float: left;
  width:33%;
  color:white;
}
.bottom2{
  position: relative;
  float: left;
  width:34%;
}
.bottom3{
  float: right;
  width: 33%;
}
.bottom1 img{
  float: left;
  width: 100%;
}
.bottom2 img{
  float: left;
  width: 100%;
}
.bottom1 .bottom1Cont,
.bottom2 .bottom2Cont{ 
  position: absolute;
  top:0;
  width: 100%;
  margin-top: 200px;
  text-align: center; 
}
.bottom1 .bottom1Cont p,.bottom2 .bottom2Cont p{
  font-size: 20px;
  line-height: 30px;
}
.btn2,.btn3{
  width: 160px;
  height: 40px;
  font-size: 20px;
  margin-top: 10px;
}
.bottom1 .bottom1Cont .btn2{
  background-color: #e7504d;
  border: 1px solid white;
  color:white; 
}
.bottom2 .bottom2Cont .btn3{
  background-color: white;
  border: 1px solid #e7504d;
  color:#e7504d;
}

.section4{
  width: 1000px;
  height:650px;
  padding-top:100px;
  margin: 0 auto;
  clear: both;
}
.section4 .title{
  text-align: center;
  
}
.section4 .title h2{
  font-size: 22px;
  font-weight: 300;
}
.section4 .title .redLine{
  color:#e7504d;
  font-weight: 700;
}
.section4 .title p{
  font-size: 12px;
  color:grey;
}
.section4 .left{
  float: left;
  width: 280px;
  margin-top:50px;
}
.section4 .left h4{
  font-size: 16px;
  line-height: 50px;
  margin-top:30px;
}
.section4 .left p{
  font-size:12px;
  color:grey;
  line-height:26px;
}
.section4 .left .more{
  float: right;
  font-size: 14px;
  color:grey; 
}
.section4 .right{
  float: left;
  width: 620px;
  margin:95px 0 0 100px;
}
.section4 .right input,textarea{
  background-color:#ededee;
  border: none;
  font-size: 14px;
  margin: 0 10px 15px 0;
  padding: 0 20px;
}
input{
  width:255px;
  height:38px;
}
textarea{
  width: 565px;
  height: 130px;
  padding:10px 20px;
}
.btn4{
  width: 605px;
  height: 38px; 
  font-size: 16px;
  border: none;
}

footer{
  width: 100%;
  height: 403px;
  padding-top:100px;
  background-color: #32363e;
  color: white;
  text-align: center;
}
footer .footerCont h2{
  font-size:22px;
  font-weight: 400;
  line-height: 50px;
}
footer .footerCont p{
  font-size:14px;
}
footer .footerCont input{
  width: 500px;
  height: 40px;
  margin:30px 0 50px 0;
}
footer .footerCont .btn5{
  width: 80px;
  height: 44px;
  font-size: 16px;
  background-color: #6f7178;
  letter-spacing: 4px;
  color: white;
  border: none;
}
footer .footerCont img{
  margin: 0 15px 80px;
}
.footerBot{
  width: 100%;
  height: 80px;
  background-color: #2f2f38;
  font-size:12px;
}
.footerBot .footerLeft{
  float: left;
  margin:30px 0 0 120px;
}
.footerBot .footerRight{
  float: right;
  margin:30px 120px 0 0;
  color: white;
}
